In [3]:
import numpy as np 
import pandas as pd
from datetime import datetime
import datetime as dt

import matplotlib.pyplot as plt

In [11]:
avistajes = pd.read_csv("./scrubbed.csv")

In [5]:
avistajes.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [6]:
#Avistaje mas largo encontrando en enero 2005

avistajes["fecha"] = avistajes.datetime.str.split('\s+').str[0]

avistajes["fecha"] = pd.to_datetime(avistajes["fecha"])

avistajes['year'] = avistajes["fecha"].map(lambda x:x.year)
avistajes['month'] = avistajes["fecha"].map(lambda x:x.month)

#Nos quedamos con el 2005 enero

avistajes_en_rango = avistajes.loc[ (avistajes.year == 2005),:]
avistajes_en_rango = avistajes_en_rango.loc[ (avistajes_en_rango.month == 1),:]

avistajes_en_rango.sort_values("duration (seconds)",ascending=False)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,fecha,year,month
24728,1/5/2005 17:34,wellington,fl,us,oval,960,16 minutes,i WAS TAKING SUNSET PICTURES ((NUFORC Note: O...,1/19/2005,26.6583333,-80.241667,2005-01-05,2005,1
23218,1/27/2005 19:15,phoenix,az,us,light,900,15 minutes,Leaving my girlfriend&#39s grandparents house&...,2/8/2005,33.4483333,-112.073333,2005-01-27,2005,1
7500,1/10/2005 18:45,bellevue,wa,us,changing,900,15 minutes,Multi colored object&#44 split into 3 lights&#...,1/11/2005,47.6105556,-122.199444,2005-01-10,2005,1
14419,1/14/2005 21:30,wading river,ny,us,sphere,900,15 minutes,Followed object in sky while driving&#44 saw ...,1/19/2005,40.9502778,-72.843056,2005-01-14,2005,1
12000,1/12/2005 19:00,ashtabula,oh,us,triangle,900,10-15 minutes,Triangular object followed by two other strang...,1/19/2005,41.8650000,-80.790000,2005-01-12,2005,1
16416,1/19/2005 19:00,lewes,de,us,light,900,15 minutes,Heading south on Route 1 toward Lewes&#44 Delw...,1/27/2005,38.7744444,-75.139722,2005-01-19,2005,1
22930,1/26/2005 21:00,morristown,tn,us,triangle,900,15 minutes,MUFON report /Trucker reports hovering triang...,2/8/2005,36.2138889,-83.295000,2005-01-26,2005,1
23525,1/28/2005 19:30,durban (south africa),NaN,NaN,light,90,90 secs,Lights in formation flying over Mount Edgecomb...,2/8/2005,-29.85868,31.021840,2005-01-28,2005,1
25235,1/8/2005 18:00,dequency,la,NaN,disk,90,90 sec,Swarm of 13 ufo fluttering silently by brightl...,2/14/2006,30.450478,-93.433219,2005-01-08,2005,1
14876,1/15/2005 12:00,baker city,or,us,other,86400,everyday,Lessons learned,1/19/2005,44.7750000,-117.833333,2005-01-15,2005,1
22610,1/25/2005 21:50,anchorage,ak,us,light,780,13 minutes,Bright Orange light moving slowly across the sky,1/27/2005,61.2180556,-149.900278,2005-01-25,2005,1
19641,1/22/2005 20:00,cedar city,ut,us,other,7200,2 hours,3 of us photographed multiple red&#44 blue&#4...,5/13/2012,37.6775000,-113.061111,2005-01-22,2005,1
16414,1/19/2005 18:30,jacksonville,fl,us,sphere,7200,2 hours,These are accounts of several personal UFO and...,5/15/2006,30.3319444,-81.655833,2005-01-19,2005,1
14872,1/15/2005 03:20,atlanta,tx,us,other,7200,2 hours,STRANGE LIGHTNING,2/8/2005,33.1136111,-94.164167,2005-01-15,2005,1
14893,1/15/2005 22:35,auckland (new zealand),NaN,NaN,other,7,6-7 seconds,Huge wing shaped object&#44 translucent white&...,1/19/2005,-36.84846,174.763332,2005-01-15,2005,1
14875,1/15/2005 10:00,searchlight,nv,us,other,7,5 to 7 sec.,Odd looking Nevada daylight sighting.,7/16/2006,35.4652778,-114.918889,2005-01-15,2005,1
14037,1/13/2005 07:20,plymouth (uk/england),NaN,gb,circle,6300,1hour 45 mins,4large orbs and 2 small spent 1hour 45 minutes...,1/19/2005,50.396389,-4.138611,2005-01-13,2005,1
23533,1/28/2005 21:50,mesa,az,us,light,600,10 minutes,Bright red light floating almost overhead in w...,2/8/2005,33.4222222,-111.821944,2005-01-28,2005,1
11038,1/1/2005 23:00,phoenix,az,us,triangle,600,10 min.,((POSSIBLE HOAX)) Three Huge Amber Orbs of li...,2/14/2006,33.4483333,-112.073333,2005-01-01,2005,1
11028,1/1/2005 01:49,brentwood,ca,us,rectangle,600,10 minutes,I went outside to turn off the hot tub and I s...,1/11/2005,37.9319444,-121.694722,2005-01-01,2005,1
24725,1/5/2005 06:05,chicago- west suburbs- rt 171,il,NaN,triangle,600,10 minutes,Black triangle that morning&#44 sat hovering f...,5/15/2006,41.768604,-87.814315,2005-01-05,2005,1
12015,1/12/2005 22:15,chico,ca,us,light,600,10 min,Orange star-like ball of light&#44 erratic mot...,1/19/2005,39.7286111,-121.836389,2005-01-12,2005,1
15290,1/16/2005 15:30,south el monte,ca,us,disk,600,10 minutes,5 circular disk-like objects; one with a blue ...,1/27/2005,34.0519444,-118.045833,2005-01-16,2005,1
14035,1/13/2005 05:50,lincoln,ne,us,formation,600,approx. 10 min.,moving constillation&#44 plus,1/19/2005,40.8000000,-96.666667,2005-01-13,2005,1
22258,1/24/2005 20:10,lake wales (east of ),fl,us,disk,600,10 min,We Saw Disc-Like Object&#44 Flashing Bright Li...,1/27/2005,27.9011111,-81.586111,2005-01-24,2005,1
15679,1/17/2005 24:00,granton,wi,us,unknown,600,5-10 min,Doing a U turn in a second and shooting up tow...,1/19/2005,44.5888889,-90.461111,2005-01-17,2005,1
24732,1/5/2005 22:45,lewisville,nc,us,triangle,600,approx. 10 min,OBJECT WAS 3 LIGHTS IN THE SHAPE OF A TRIANGLE...,5/11/2005,36.0969444,-80.419444,2005-01-05,2005,1
8359,1/11/2005 17:08,calgary (canada),ab,ca,other,600,10 minutes,&quot;That&#39s no ordinary cloud.&quot;,1/19/2005,51.083333,-114.083333,2005-01-11,2005,1
19638,1/22/2005 19:00,olympia,wa,us,light,600,10 minutes,My husband and I witnessed 4 spinning white li...,2/8/2005,47.0380556,-122.899444,2005-01-22,2005,1
17438,1/21/2005 17:00,ocala,fl,us,changing,600,10 minutes,Morphing white UFO,1/27/2005,29.1869444,-82.140278,2005-01-21,2005,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14408,1/14/2005 04:00,mililani,hi,NaN,triangle,120,2 min,I was awakened by a helicopter flying outside ...,7/5/2005,21.451331,-158.015281,2005-01-14,2005,1
14060,1/13/2005 22:15,manomet,ma,us,oval,120,about 2 minutes.,Peculiar sound and random movement.,5/11/2005,41.9186111,-70.566667,2005-01-13,2005,1
24052,1/30/2005 20:15,morgan hill (12 mi. north of on 101),ca,us,light,120,2 minutes,Stationary object off US 101&#44 blinding ligh...,2/8/2005,37.1305556,-121.653333,2005-01-30,2005,1
24053,1/30/2005 23:00,mason,oh,us,changing,120,1&amp;1/2 hour,Triangular Cluster of white lights with flashi...,10/11/2005,39.3600000,-84.310000,2005-01-30,2005,1
19104,1/2/2005 01:00,melba,id,us,egg,120,2 min,This object was a dark color and had white fla...,1/27/2005,43.3755556,-116.528056,2005-01-02,2005,1
24183,1/31/2005 07:30,tallahassee,fl,us,sphere,120,1-2 mins,Sphere&#44 Shiny&#44 disapear,2/8/2005,30.4380556,-84.280833,2005-01-31,2005,1
25236,1/8/2005 20:10,castro valley,ca,us,light,120,2 minutes,Fast moving bright Light leaves contrail,1/11/2005,37.6941667,-122.085278,2005-01-08,2005,1
14057,1/13/2005 21:00,sumner,wa,us,other,120,1-2 minutes,Tiara shaped cluster of lights and a single li...,1/19/2005,47.2033333,-122.239167,2005-01-13,2005,1
14043,1/13/2005 18:05,stevens point,wi,us,light,120,2 minutes,Two nocturnal lights almost intersect - one be...,1/19/2005,44.5236111,-89.574444,2005-01-13,2005,1
8351,1/11/2005 01:00,el paso,tx,us,disk,120,2 min,ufo&#39s flew about 200 ft from my car. on I-1...,1/19/2005,31.7586111,-106.486389,2005-01-11,2005,1
25063,1/7/2005 18:45,waterford,pa,us,unknown,120,2 mins,Floating Craft zooms away as I stop to look at...,1/11/2005,41.9427778,-79.984722,2005-01-07,2005,1
8355,1/11/2005 13:50,bel air,md,us,other,120,2 min.,Roundish&#44 dark gray thing moving in a stead...,1/27/2005,39.5358333,-76.348611,2005-01-11,2005,1
25065,1/7/2005 20:51,miami,fl,us,other,10,10 sec.,Unusual object traveled at rapid speed across ...,1/11/2005,25.7738889,-80.193889,2005-01-07,2005,1
25064,1/7/2005 20:51,miami,fl,us,disk,10,10 seconds,Location: Miami&#44 Florida. The incident oc...,1/11/2005,25.7738889,-80.193889,2005-01-07,2005,1
25233,1/8/2005 00:15,cumberland,ri,us,triangle,10,0:10,Triangular craft hovered for awhile&#44 then s...,1/11/2005,41.9666667,-71.433333,2005-01-08,2005,1
22922,1/26/2005 02:00,rogersville,tn,us,fireball,10,10 seconds,Red light in sky Moving Quickly and Disappeared.,2/8/2005,36.4072222,-83.005556,2005-01-26,2005,1
8363,1/11/2005 18:00,lincoln city,or,us,light,10,10 seconds,Similar to previous night sighting&#44 same ti...,1/19/2005,44.9583333,-124.016667,2005-01-11,2005,1
24730,1/5/2005 20:00,los angeles,ca,us,fireball,10,10 secs,I saw a green fireball travelling across the ...,1/11/2005,34.0522222,-118.242778,2005-01-05,2005,1
15650,1/17/2005 05:30,san jose,ca,us,fireball,10,10 seconds,Very bright cobalt blue fireball over highway ...,3/8/2007,37.3394444,-121.893889,2005-01-17,2005,1
14036,1/13/2005 06:40,liverpool (uk/england),NaN,gb,NaN,10,10 seconds,flash&#44 then bright streak,2/8/2005,53.416667,-3.000000,2005-01-13,2005,1
22253,1/24/2005 07:00,newtown,ct,us,circle,10,10 sec,Classic cartoon flying saucer over Newtown woods,1/27/2005,41.4138889,-73.303889,2005-01-24,2005,1
24054,1/30/2005 23:12,modesto,ca,us,chevron,10,5 -10 secs,5 white lights arranged in chevron pattern&#44...,2/8/2005,37.6391667,-120.995833,2005-01-30,2005,1
14058,1/13/2005 21:20,downers grove,il,us,light,10,10 seconds,Five red lights pass in formation over DuPage ...,1/19/2005,41.8088889,-88.011111,2005-01-13,2005,1
23521,1/28/2005 18:00,blaine,mn,us,unknown,10,5-10 seconds,red and blue alternating lights&#44 hovering t...,2/8/2005,45.1608333,-93.234722,2005-01-28,2005,1
11031,1/1/2005 06:51,monterrey (mexico),NaN,NaN,egg,1,less than 1 second,i was just taking pictures of night view with ...,1/11/2005,25.686614,-100.316113,2005-01-01,2005,1
25401,1/9/2005 03:00,worcester,ma,us,egg,1,1 second,Eggs in the sky,1/11/2005,42.2625000,-71.802778,2005-01-09,2005,1
19106,1/2/2005 06:30,fortuna,ca,us,light,1,1 second,A bright green light streeked from the sky dow...,5/11/2005,40.5983333,-124.156111,2005-01-02,2005,1
23517,1/28/2005 07:30,waianae,hi,us,triangle,1,1sec,Hi&#44 when i did take the photograph from my ...,5/11/2005,21.4447222,-158.190000,2005-01-28,2005,1
22256,1/24/2005 15:42,maui,hi,NaN,fireball,1,1 second,Bright spherical object seen on north side of ...,2/8/2005,20.798363,-156.331925,2005-01-24,2005,1
7502,1/10/2005 19:18,barryton,mi,us,circle,0.5,1/2 second,1 white light with a red 1 following it. it la...,1/19/2005,43.7525000,-85.146944,2005-01-10,2005,1

In [65]:
#La forma hexagonal es una de las formas menos populares registradas.

formas_avistajes = avistajes.groupby("shape").count()

formas_avistajes.sort_values("datetime", ascending=False)

,datetime,city,state,country,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,fecha,year,month
shape,,,,,,,,,,,,,
light,16565,16565,15438,14628,16565,16565,16563,16565,16565,16565,16565,16565,16565
triangle,7865,7865,7395,7038,7865,7865,7864,7865,7865,7865,7865,7865,7865
circle,7608,7608,6946,6717,7608,7608,7607,7608,7608,7608,7608,7608,7608
fireball,6208,6208,5825,5526,6208,6208,6208,6208,6208,6208,6208,6208,6208
other,5649,5649,5184,4889,5649,5649,5649,5649,5649,5649,5649,5649,5649
unknown,5584,5584,5239,4899,5584,5584,5584,5584,5584,5584,5584,5584,5584
sphere,5387,5387,4989,4732,5387,5387,5386,5387,5387,5387,5387,5387,5387
disk,5213,5213,4786,4477,5213,5213,5213,5213,5213,5213,5213,5213,5213
oval,3733,3733,3446,3285,3733,3733,3731,3733,3733,3733,3733,3733,3733
formation,2457,2457,2283,2171,2457,2457,2457,2457,2457,2457,2457,2457,2457
cigar,2057,2057,1894,1795,2057,2057,2057,2057,2057,2057,2057,2057,2057
changing,1962,1962,1819,1710,1962,1962,1962,1962,1962,1962,1962,1962,1962
flash,1328,1328,1243,1154,1328,1328,1328,1328,1328,1328,1328,1328,1328
rectangle,1297,1297,1217,1157,1297,1297,1297,1297,1297,1297,1297,1297,1297
cylinder,1283,1283,1195,1122,1283,1283,1282,1283,1283,1283,1283,1283,1283
diamond,1178,1178,1074,1024,1178,1178,1178,1178,1178,1178,1178,1178,1178
chevron,952,952,912,863,952,952,952,952,952,952,952,952,952
egg,759,759,678,654,759,759,759,759,759,759,759,759,759
teardrop,750,750,674,662,750,750,750,750,750,750,750,750,750
cone,316,316,277,276,316,316,316,316,316,316,316,316,316
cross,233,233,212,208,233,233,233,233,233,233,233,233,233
delta,7,7,7,7,7,7,7,7,7,7,7,7,7
round,2,2,2,2,2,2,2,2,2,2,2,2,2
crescent,2,2,2,1,2,2,2,2,2,2,2,2,2
pyramid,1,1,1,1,1,1,1,1,1,1,1,1,1
hexagon,1,1,1,1,1,1,1,1,1,1,1,1,1
flare,1,1,1,1,1,1,1,1,1,1,1,1,1
dome,1,1,1,0,1,1,1,1,1,1,1,1,1
changed,1,1,1,1,1,1,1,1,1,1,1,1,1

In [7]:
#El avistaje de menor duración se registro en el estado de Wyoming

avistajes.sort_values("duration (seconds)")

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,fecha,year,month
70587,8/30/2002 13:45,kerry (republic of ireland),NaN,NaN,sphere,0.01,0.01secs,The object seemed to move at lightining speed,9/13/2002,52.1545,-9.566863,2002-08-30,2002,8
70393,8/29/2002 23:45,toledo,or,us,triangle,0.01,millisecond,The object I saw was very clear and moved at ...,9/6/2002,44.6217,-123.937222,2002-08-29,2002,8
67354,8/17/2013 24:00,abbotsford (canada),bc,ca,diamond,0.02,.02 seconds,Maybe 60&#39 from deck Camera&#44left to right...,9/9/2013,45.4333,-72.883333,2013-08-17,2013,8
78381,9/29/1999 14:30,warnambool&#44 vic (australia),NaN,NaN,unknown,0.05,0.05 seconds,It was very quick. We have a picture of it.,11/2/1999,-38.3828,142.484499,1999-09-29,1999,9
75324,9/17/2006 03:30,las vegas,nv,us,chevron,0.45,.45 sec,boomerrang V -shaped object &#44very large at ...,10/30/2006,36.175,-115.136389,2006-09-17,2006,9
68576,8/2/2004 10:35,roy,ut,us,light,0.5,0.5 seconds,UFO fast lights seen in Roy&#44 UT,8/11/2004,41.1617,-112.025556,2004-08-02,2004,8
79159,9/4/2008 06:15,eldridge,al,us,diamond,0.5,0.5 seconds,09/04/08 eldridge&#44al diamond object 0.5 s...,10/31/2008,33.9228,-87.617222,2008-09-04,2008,9
76835,9/22/1998 23:55,ladson,sc,us,sphere,0.5,0.5 seconds,At approx. 23:55 EST 09/22/98 what is best des...,11/1/1998,32.9856,-80.110000,1998-09-22,1998,9
79486,9/6/1995 21:30,grand canyon&#44 north rim,az,NaN,light,0.5,1/2 second,While driving North on the only paved road out...,8/5/2000,36.2317,-113.030911,1995-09-06,1995,9
75190,9/16/2011 11:16,sisters (in-flight),or,us,triangle,0.5,0.5 sec,Orange Dart-like craft passes our aircraft at ...,1/24/2012,44.2911,-121.548056,2011-09-16,2011,9
66102,8/14/2012 22:10,seatac,wa,us,light,0.5,.5 seconds,It was definately a UFO that was at 10:09pm or...,8/19/2012,47.4539,-122.320556,2012-08-14,2012,8
79160,9/4/2008 14:00,maury (france),NaN,NaN,triangle,0.5,half a second,triangle shaped craft exceeding 10000 miles an...,10/31/2008,35.4808,-77.586387,2008-09-04,2008,9
69743,8/26/2001 23:08,woodinville,wa,us,fireball,0.5,.5 seconds,Probably just a meteor....but...,10/12/2001,47.7544,-122.162222,2001-08-26,2001,8
78776,9/30/2010 13:05,cedar rapids,ia,us,triangle,0.5,about half a second,Flying object in the background of our video i...,11/21/2010,42.0083,-91.643889,2010-09-30,2010,9
77061,9/22/2013 07:30,kingston,nh,us,fireball,0.5,0.5 second,OBJECT BLUE LIGHT&#44SEROUDID BY BRIGHT LIGHT.,9/30/2013,42.9364,-71.053889,2013-09-22,2013,9
77443,9/24/2010 19:30,henderson,nv,us,fireball,0.5,.5 second,Bright Green Fireball in night sky travelling ...,11/21/2010,36.0397,-114.981111,2010-09-24,2010,9
71505,8/4/2013 04:12,leland,mi,us,flash,0.5,0.5 seconds,1/2 second&#44 blinding flash of light,8/30/2013,45.0231,-85.759722,2013-08-04,2013,8
77039,9/22/2012 20:30,sedona (south of),az,us,fireball,0.5,1/2 second,EXTREMELY fast meteor-like object sighted abov...,9/24/2012,34.8697,-111.760278,2012-09-22,2012,9
74841,9/15/2003 22:30,trenton,oh,us,fireball,0.7,0.7 to 0.9 sec.?,A large&#44green&#44flare like or meteor like ...,9/17/2003,39.4808,-84.457778,2003-09-15,2003,9
72088,8/7/2004 03:45,fort worth,tx,us,sphere,0.75,.75 seconds,Red Orb flying vertically up into clouds.,8/11/2004,32.7253,-97.320556,2004-08-07,2004,8
65905,8/14/1999 19:30,destin,fl,us,triangle,1,< 1 second,While vacationing in Florida&#44 I took a pict...,11/2/1999,30.3933,-86.495833,1999-08-14,1999,8
68803,8/22/2003 23:20,vancouver (canada),bc,ca,flash,1,1 second,A bright moon shaped object with an emerald gr...,10/31/2003,49.25,-123.133333,2003-08-22,2003,8
71202,8/3/2010 02:14,long beach,ca,us,fireball,1,1 second,Very fast Oblong crescent shaped object streak...,8/24/2010,33.7669,-118.188333,2010-08-03,2010,8
75512,9/18/2003 14:45,rocky mount,nc,us,flash,1,1 second,Rocky Mount&#44 North Carolina car enveloped b...,9/24/2003,35.9381,-77.790833,2003-09-18,2003,9
76634,9/2/2005 21:30,minneapolis,mn,us,NaN,1,1 second,Flash of light in sky,9/15/2005,44.98,-93.263611,2005-09-02,2005,9
68248,8/21/1995 20:35,tacoma,wa,us,NaN,1,1 sec.,Man witnesses &quot;blue-green object&quot; st...,11/2/1999,47.2531,-122.443056,1995-08-21,1995,8
77639,9/25/2008 16:15,london (uk/england),NaN,gb,sphere,1,1 second,small&#44 fast moving sphere travelling in str...,10/31/2008,51.5141,-0.093689,2008-09-25,2008,9
77208,9/23/2006 00:05,mount shasta,ca,us,light,1,split second,A light over Mt Shasta that went within itself.,4/27/2007,41.31,-122.309444,2006-09-23,2006,9
78201,9/28/2005 02:29,long beach,ca,us,fireball,1,1 second,Bright green fireball decended straight down f...,10/11/2005,33.7669,-118.188333,2005-09-28,2005,9
65694,8/13/2005 19:30,split (croatia),NaN,NaN,triangle,1,second,UFO over Split&#44 recorded from Trstenik beach.,1/10/2009,43.5081,16.440193,2005-08-13,2005,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61982,7/4/2009 20:35,el cajon,ca,us,light,960,16 minutes,Four red lights travelling east out of San Die...,8/5/2009,32.7947222,-116.961667,2009-07-04,2009,7
17471,1/21/2007 00:00,maple ridge (canada),bc,ca,oval,960,16 mins,MULTI COLORED OBJECT CHASED BY CHOPPER,2/1/2007,49.25,-122.500000,2007-01-21,2007,1
35643,4/10/1999 02:58,vla radio telescope (near&#44 hwy. 60),nm,NaN,light,960,16 minutes,LIGHT THE SIZE OF SILVER DOLLAR AT ARM&#39S LE...,5/24/1999,34.51994,-105.870090,1999-04-10,1999,4
30727,3/1/2009 21:00,leeds (uk/england),NaN,gb,light,960,16 minutes,2 UFO&#39s sighted over Leeds UK.,3/19/2009,53.8,-1.583333,2009-03-01,2009,3
8069,11/11/2013 18:45,indianapolis,in,us,disk,960,16 minutes,Me and my daughter seen the most beautiful shi...,2/7/2014,39.7683333,-86.158056,2013-11-11,2013,11
38717,4/23/2011 20:22,lodi,ca,us,changing,960,16 min,bright object eradically zig zaging in sky aro...,5/2/2011,38.1302778,-121.271389,2011-04-23,2011,4
5781,10/31/2004 19:56,matteson,il,us,NaN,960,16 minutes,3 very bright red lights.,11/2/2004,41.5038889,-87.713056,2004-10-31,2004,10
40469,4/6/1971 20:00,osceola,ia,us,disk,960,16 minutes,((HOAX??)) it was a flying disk it was tracki...,12/12/2009,41.0338889,-93.765278,1971-04-06,1971,4
48521,6/14/2011 21:15,pinole,ca,us,sphere,960,16 min,Silent sphere overhead becomes stationary in sky,6/20/2011,38.0044444,-122.297778,2011-06-14,2011,6
48482,6/14/2008 23:00,elko,nv,us,light,960,16 minutes,2 large Red stationary lights &#44 time span ...,7/5/2008,40.8325000,-115.762222,2008-06-14,2008,6
33901,3/28/2008 20:30,shelby,nc,us,light,960,16 minutes,March 28&#44 2008 I sighted two orange objects...,6/12/2008,35.2922222,-81.535833,2008-03-28,2008,3
22785,12/5/2013 17:04,ketchikan,ak,us,light,960,16 minutes,Light stayed over airport and slowly went left...,12/12/2013,55.3422222,-131.646111,2013-12-05,2013,12
54296,6/8/2007 13:45,trinidad,co,us,disk,960,16 min.,Shiny object hovering&#44 egg shaped &#44 silv...,1/10/2009,37.1694444,-104.500000,2007-06-08,2007,6
25765,2/11/2009 23:00,rancho cordova,ca,us,light,960,13-16 min.,Little army of star like lights pass over Sacr...,3/19/2009,38.5891667,-121.301667,2009-02-11,2009,2
24728,1/5/2005 17:34,wellington,fl,us,oval,960,16 minutes,i WAS TAKING SUNSET PICTURES ((NUFORC Note: O...,1/19/2005,26.6583333,-80.241667,2005-01-05,2005,1
3390,10/20/2013 21:40,stockton,ca,us,light,960,16 minutes,10/20/13 UFO sighting in Stockton. .?,10/23/2013,37.9577778,-121.289722,2013-10-20,2013,10
16714,1/20/2004 06:55,lambertville,mi,us,changing,965,6:55 - 8:15,1 ufo was circular with multiple colors&#44 mo...,1/22/2004,41.7658333,-83.628056,2004-01-20,2004,1
23083,12/6/2013 16:15,laveen,az,us,fireball,978,16:18,Fire Orb By North Star In Phoenix,12/12/2013,33.3627778,-112.168611,2013-12-06,2013,12
559,10/1/1983 17:00,birmingham (uk/england),NaN,gb,sphere,97836000,31 years,Firstly&#44 I was stunned and stared at the ob...,4/12/2013,52.466667,-1.916667,1983-10-01,1983,10
33292,3/24/2003 16:00,mt.morris,ny,NaN,oval,980,16:20,it was an oval shaped ship in the sky&#44 with...,4/22/2003,42.725618,-77.874169,2003-03-24,2003,3
46707,6/11/1992 16:26,nowra (australia),NaN,au,disk,989,16:29,On one sunday afternoon an object was seen 2-3...,2/18/2001,-34.88422,150.600357,1992-06-11,1992,6
54851,7/10/2011 22:45,new york city (brooklyn),ny,us,oval,99,1:39,Brooklyn UFO / VIDEO AND PHOTO / 7.10.11,5/13/2012,40.7141667,-74.006389,2011-07-10,2011,7
38294,4/2/2003 16:30,sydney (nsw&#44 australia),NaN,au,rectangle,990,16:30,the object was in a rectangular form and was h...,4/27/2003,-33.861481,151.205475,2003-04-02,2003,4
64160,8/10/1990 02:00,southbridge,ma,us,unknown,9900,45min-2 hours,Reoccuring visitations ? Senses altered. 500 L...,7/5/2008,42.0750000,-72.033889,1990-08-10,1990,8
55524,7/1/2008 22:00,truro (canada),ns,ca,light,9900,1/2 hr to 45 mins,Glowing object in the sky over fireworks display.,8/12/2008,45.366667,-63.300000,2008-07-01,2008,7
53302,6/3/2000 22:00,manzanita,or,us,light,9900,1/2hr-45min,There were orange colored lights coming from t...,6/21/2000,45.7186111,-123.933889,2000-06-03,2000,6
9430,11/15/2000 20:00,kokomo (west of),in,us,flash,9900,1/2hour to 45min.,glittering white lights accompany bright orang...,9/6/2002,40.4863889,-86.133611,2000-11-15,2000,11
21529,12/31/2006 23:15,marikina (philippines),NaN,NaN,circle,9900,2 hrs &amp; 45 min.,Sighting over Quezon City Philippines during m...,2/1/2007,14.65073,121.102855,2006-12-31,2006,12
32032,3/17/2004 16:30,milton,de,us,other,994,16:34,Boat/schooner shaped Hull curved rotating &#44...,4/27/2004,38.7775000,-75.310278,2004-03-17,2004,3
29726,2/7/2001 18:35,wheaton/kensington,md,NaN,changing,995,16:35,SHAPE CHANGING OBJECT IN WASHINGTON DC AREA,2/18/2001,39.039831,-77.055256,2001-02-07,2001,2

In [9]:
#El avistaje de menor duración marzo 2007 se registro en el estado de Wyoming

avistajes= avistajes.loc[ (avistajes.year == 2007),:]
avistajes = avistajes.loc[ (avistajes.month == 3),:]


avistajes.sort_values("duration (seconds)")

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,fecha,year,month
33033,3/22/2007 22:15,corvallis,or,us,light,1,one-half second,Round&#44 white light with halo effect appear...,4/27/2007,44.5647222,-123.260833,2007-03-22,2007,3
34683,3/4/2007 20:00,herndon,va,us,circle,1,1 sec,I was driving north on Fairfax Co. Parkway bet...,6/12/2007,38.9694444,-77.386389,2007-03-04,2007,3
33749,3/27/2007 05:37,millstone twp.,nj,NaN,flash,1.5,1-1.5 seconds,BRIGHT FLASH NJ FOLLOWED BY ACCELERATED OBJECT,4/27/2007,40.209444,-74.437500,2007-03-27,2007,3
32201,3/18/2007 04:30,bethlehem township,pa,NaN,diamond,10,10 seconds,This report is basically the same thing I seen...,4/18/2012,40.667261,-75.306233,2007-03-18,2007,3
30701,3/1/2007 17:30,boyes hot springs,ca,us,formation,10,10 seconds,rectanglar outline made up of dark dots.,3/8/2007,38.3138889,-122.480833,2007-03-01,2007,3
32205,3/18/2007 19:00,norco,ca,us,fireball,10,10 seconds,fireball heading NE (towards Naval Weapons Cen...,4/27/2007,33.9311111,-117.547778,2007-03-18,2007,3
32206,3/18/2007 19:00,upland,ca,us,fireball,10,10 seconds,Blue/ Green Fireball fly across the sky in Upl...,4/27/2007,34.0975000,-117.647500,2007-03-18,2007,3
35349,3/8/2007 13:00,modesto,ca,us,triangle,10,10 seconds,Couldn&#39t believe what I was seeing&#33,4/27/2007,37.6391667,-120.995833,2007-03-08,2007,3
35523,3/9/2007 20:25,tempe,az,us,other,10,10 seconds,low vapor sound in sky&#44 accompanied ground ...,4/27/2007,33.4147222,-111.908611,2007-03-09,2007,3
34362,3/31/2007 02:00,perryville,mo,us,other,10,<10 seconds,Greenish object seen falling with a greenish i...,4/27/2007,37.7241667,-89.861111,2007-03-31,2007,3
31884,3/16/2007 22:00,federal way,wa,us,light,10,10 seconds,One large blue spherical light traveling acros...,4/27/2007,47.3225000,-122.311389,2007-03-16,2007,3
34681,3/4/2007 18:45,miami,fl,us,cone,10,10 seconds,Flashing&#44 circular object at intense speed ...,3/8/2007,25.7738889,-80.193889,2007-03-04,2007,3
34370,3/31/2007 19:45,beaverton,or,us,unknown,10,10 seconds,Large object with hot pink glowing light in fr...,4/27/2007,45.4872222,-122.802500,2007-03-31,2007,3
30705,3/1/2007 20:19,san carlos,ca,us,oval,10,10 sec,A bright light moving in a straight line too f...,3/8/2007,37.5072222,-122.259444,2007-03-01,2007,3
34367,3/31/2007 18:30,sydney (australia),NaN,au,fireball,10,10 sec,Before dark yesterday a huge bright golden lig...,4/27/2007,-33.861481,151.205475,2007-03-31,2007,3
30704,3/1/2007 20:00,rialto,ca,us,light,10,10 sec.,BRIGHT ORANGE LIGHT OVER SAN. BERNARDINO MOUNT...,3/8/2007,34.1063889,-117.369444,2007-03-01,2007,3
33027,3/22/2007 05:30,san francisco,ca,us,light,10,10 seconds,High speed and dacing lights in the southern sky.,4/27/2007,37.7750000,-122.418333,2007-03-22,2007,3
30478,3/11/2007 20:00,afton,mi,NaN,light,10,10 seconds,seen the light fall from the sky and observed ...,4/27/2007,45.373902,-84.496697,2007-03-11,2007,3
32370,3/19/2007 09:22,matteson,il,us,light,1080,18 minutes&#44 give or take,Very bright red light&#33,4/27/2007,41.5038889,-87.713056,2007-03-19,2007,3
30473,3/11/2007 13:30,kamas,ut,us,fireball,10800,3hours,((HOAX??)) red light that was on the grond t...,8/14/2007,40.6430556,-111.280000,2007-03-11,2007,3
32733,3/21/2007 19:45,denton,tx,us,changing,10800,3hrs,Bright oval shaped craft/object white with red...,4/27/2007,33.2147222,-97.132778,2007-03-21,2007,3
33481,3/25/2007 22:45,southgate,mi,us,triangle,12,12 seconds,UFO with one orange light followed by 2 red li...,4/27/2007,42.2138889,-83.193889,2007-03-25,2007,3
33893,3/28/2007 19:00,cary,nc,us,teardrop,120,1-2 min,2 red UFOs shuts off electrical equipment and ...,4/27/2007,35.7913889,-78.781389,2007-03-28,2007,3
33607,3/26/2007 18:00,shoreline,wa,us,sphere,120,minutes,Accidentally photographed UFO&#39s,4/27/2007,47.7558333,-122.340278,2007-03-26,2007,3
33610,3/26/2007 23:15,framingham,ma,us,unknown,120,2 minutes,Dark shape in nighttime sky.,4/27/2007,42.2791667,-71.416667,2007-03-26,2007,3
34817,3/5/2007 21:00,st. joseph,mi,us,light,120,minutes,Strange red &amp; white flashing lights over L...,4/27/2007,42.1097222,-86.480000,2007-03-05,2007,3
32061,3/17/2007 06:30,mishawaka,in,us,triangle,120,1 to 2 min,March 17&#44 2007 - Mishawaka&#44 Indiana App...,4/27/2007,41.6619444,-86.158611,2007-03-17,2007,3
34995,3/6/2007 20:25,hico,tx,us,circle,120,2 minutes,An apparent satelite path &#44 only larger&#44...,3/8/2007,31.9827778,-98.033333,2007-03-06,2007,3
33313,3/24/2007 21:35,monroe,nc,us,light,120,2 minutes,Blinking light being chased by a military (?) ...,4/27/2007,34.9852778,-80.549722,2007-03-24,2007,3
34524,3/3/2007 20:00,oakwood,ga,us,other,120,about 2 minutes,UFO hovered&#44 moved over us slowly&#44 then ...,10/8/2007,34.2275000,-83.884444,2007-03-03,2007,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31888,3/16/2007 23:00,berkeley,ca,us,chevron,720,12 minutes,Dark&#44 swift chevron-shaped craft with brigh...,4/27/2007,37.8716667,-122.271667,2007-03-16,2007,3
31696,3/15/2007 09:00,st. bernardin (canada),on,NaN,light,7200,2 hours,Light appearing in our skyline &#44 changes co...,4/27/2007,45.458217,-74.800049,2007-03-15,2007,3
30283,3/10/2007 21:00,franklin,va,us,light,7200,2 hours,Extremely bright light over Franklin&#44 VA. ...,4/27/2007,36.6775000,-76.922778,2007-03-10,2007,3
34375,3/31/2007 22:00,kennedy,ny,us,oval,7200,2 hours,I saw 5 flying objects that were light up circ...,4/27/2007,42.1572222,-79.102222,2007-03-31,2007,3
34372,3/31/2007 20:00,east rutherford,nj,us,circle,7200,2 hrs,4 circular objects intertwining in and out of ...,4/27/2007,40.8338889,-74.097500,2007-03-31,2007,3
33028,3/22/2007 11:00,paso robles,ca,us,cylinder,7200,2 hours,CHANGING COLOR CYLINDER IN WEST SKY OF PASO R...,4/27/2007,35.6266667,-120.690000,2007-03-22,2007,3
32211,3/18/2007 23:30,dennis,ma,us,unknown,7200,2 hours,three objects hover in the sky for two hours a...,4/27/2007,41.7352778,-70.194444,2007-03-18,2007,3
35348,3/8/2007 12:30,jefferson,mo,NaN,unknown,7200,2 hours,I saw 1 craft&#44 which was it looked like a s...,4/27/2007,38.23103,-90.525782,2007-03-08,2007,3
30471,3/11/2007 04:25,north hollywood (san fernando valley),ca,us,sphere,73800,2 1/2hrs,there was a glowin sphere which is still visib...,4/27/2007,34.1722222,-118.378056,2007-03-11,2007,3
31185,3/13/2007 23:20,bergen,ny,us,circle,73800,2 1/2 hours,Large groups of lights in the sky.,4/27/2007,43.0852778,-77.942500,2007-03-13,2007,3
34030,3/29/2007 10:00,lecce (italy),NaN,NaN,cigar,780,13 minute,the cigar flew all over my orizont while i was...,4/27/2007,40.351516,18.175016,2007-03-29,2007,3
30470,3/11/2007 00:00,mission viejo,ca,us,formation,8,8 seconds,I think I have had a close encounter in Orange...,4/27/2007,33.6000000,-117.671111,2007-03-11,2007,3
35362,3/8/2007 23:00,estacada,or,us,cylinder,8,5-8 seconds,Red orb over Clackamas County&#44 Oregon,4/27/2007,45.2897222,-122.332500,2007-03-08,2007,3
34523,3/3/2007 19:30,bremerton,wa,us,light,840,12 to 14 minutes,one evening in the first week of march&#44I st...,4/27/2007,47.5675000,-122.631389,2007-03-03,2007,3
32372,3/19/2007 11:22,colorado springs,co,us,triangle,86400,1 day,Air Force fired projectiles of some sort at al...,4/27/2007,38.8338889,-104.820833,2007-03-19,2007,3
35520,3/9/2007 19:30,holland,ny,us,circle,90,60-90 seconds,At about 7:30 p.m. on 3/9/07 saw moving UFO lo...,4/27/2007,42.6411111,-78.541944,2007-03-09,2007,3
34199,3/30/2007 21:01,rome,ga,us,light,90,1 min 30 seconds,Two Bright Lights observed - faded away simult...,4/27/2007,34.2569444,-85.164722,2007-03-30,2007,3
34815,3/5/2007 19:25,port orchard,wa,us,circle,900,15 minutes,Solid light very high in sky. Then dissappeared.,3/8/2007,47.5405556,-122.635000,2007-03-05,2007,3
34812,3/5/2007 19:05,bremerton,wa,us,sphere,900,15 min.,Bremerton Wa. Bright red light. 14 min. 20-3...,3/8/2007,47.5675000,-122.631389,2007-03-05,2007,3
31707,3/15/2007 22:30,leicester (uk/england),NaN,gb,NaN,900,15 min,Three bright lights moving side to side across...,4/27/2007,52.664913,-1.034894,2007-03-15,2007,3
34528,3/3/2007 22:50,moreton morrell (uk/england),NaN,NaN,sphere,900,15 min,Red dot in sky on night of lunar eclipse,4/27/2007,52.203158,-1.545244,2007-03-03,2007,3
34376,3/31/2007 23:15,gerry/ellington,ny,NaN,disk,900,15 minutes,5 to 6 gray thin disk-shaped &quot;saucers&quo...,4/27/2007,42.2159,-79.108100,2007-03-31,2007,3
33895,3/28/2007 21:00,plover,wi,us,sphere,900,15mins,Possible F-16 engagment of a UFO over Plover&#...,4/27/2007,44.4563889,-89.543889,2007-03-28,2007,3
31699,3/15/2007 14:00,tucson,az,us,circle,900,15 minutes,typical saucer shaped craft Stationery in the ...,1/31/2011,32.2216667,-110.925833,2007-03-15,2007,3
31362,3/14/2007 22:55,voorburg (netherlands),NaN,NaN,circle,900,15 minutes,Two different shaped lights changing colors in...,4/27/2007,52.076158,4.362541,2007-03-14,2007,3
31361,3/14/2007 22:25,corpus christi (off shore),tx,us,light,900,apx. 10-15 minutes,Ufo sighted by ExprssJet Piots and confirmed b...,4/27/2007,27.8002778,-97.396111,2007-03-14,2007,3
32374,3/19/2007 20:15,berlin,wi,us,fireball,900,15 minutes,It would disappear in one part of the sky for ...,4/27/2007,43.9680556,-88.943333,2007-03-19,2007,3
34994,3/6/2007 20:00,albuquerque,nm,us,circle,900,15 minutes,UFO sighted on southern boulevard &#44 on the ...,4/27/2007,35.0844444,-106.650556,2007-03-06,2007,3
34525,3/3/2007 21:00,redwood city,ca,us,triangle,900,15min,I INSISTED I WAS SEEING SOMETHING BEYOND EXIST...,10/8/2007,37.4852778,-122.235278,2007-03-03,2007,3
31697,3/15/2007 09:26,houston,tx,us,teardrop,900,about at an estimate 15 m,Teardrop&#44fast&#44lights&#44ufo&#44balcony&#...,4/27/2007,29.7630556,-95.363056,2007-03-15,2007,3

In [69]:
#El tercer estado con mas avistajes de ovnis es Texas.

avistajes_por_estado = avistajes.groupby("state").count()

avistajes_por_estado.sort_values("datetime",ascending=False)

,datetime,city,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,fecha,year,month
state,,,,,,,,,,,,,
ca,9655,9655,8912,9405,9655,9655,9654,9655,9655,9655,9655,9655,9655
wa,4268,4268,3968,3989,4268,4268,4267,4268,4268,4268,4268,4268,4268
fl,4200,4200,3835,4109,4200,4200,4200,4200,4200,4200,4200,4200,4200
tx,3677,3677,3447,3623,3677,3677,3676,3677,3677,3677,3677,3677,3677
ny,3219,3219,2980,3150,3219,3219,3219,3219,3219,3219,3219,3219,3219
az,2689,2689,2414,2626,2689,2689,2689,2689,2689,2689,2689,2689,2689
il,2645,2645,2499,2588,2645,2645,2645,2645,2645,2645,2645,2645,2645
pa,2582,2582,2366,2522,2582,2582,2582,2582,2582,2582,2582,2582,2582
oh,2425,2425,2276,2399,2425,2425,2424,2425,2425,2425,2425,2425,2425
mi,2071,2071,1836,2012,2071,2071,2070,2071,2071,2071,2071,2071,2071
nc,1869,1869,1741,1848,1869,1869,1869,1869,1869,1869,1869,1869,1869
or,1845,1845,1747,1762,1845,1845,1845,1845,1845,1845,1845,1845,1845
on,1584,1584,1354,1560,1584,1584,1584,1584,1584,1584,1584,1584,1584
mo,1576,1576,1458,1546,1576,1576,1576,1576,1576,1576,1576,1576,1576
nj,1512,1512,1255,1487,1512,1512,1512,1512,1512,1512,1512,1512,1512
co,1505,1505,1413,1476,1505,1505,1505,1505,1505,1505,1505,1505,1505
va,1393,1393,1273,1364,1393,1393,1391,1393,1393,1393,1393,1393,1393
in,1386,1386,1288,1364,1386,1386,1386,1386,1386,1386,1386,1386,1386
ma,1358,1358,1256,1338,1358,1358,1358,1358,1358,1358,1358,1358,1358
ga,1347,1347,1255,1325,1347,1347,1346,1347,1347,1347,1347,1347,1347
wi,1333,1333,1232,1304,1333,1333,1333,1333,1333,1333,1333,1333,1333
tn,1193,1193,1120,1162,1193,1193,1193,1193,1193,1193,1193,1193,1193
mn,1081,1081,1012,1063,1081,1081,1081,1081,1081,1081,1081,1081,1081
sc,1076,1076,1003,1058,1076,1076,1076,1076,1076,1076,1076,1076,1076
ct,968,968,892,939,968,968,967,968,968,968,968,968,968
ky,914,914,855,901,914,914,913,914,914,914,914,914,914
md,911,911,837,892,911,911,911,911,911,911,911,911,911
nv,905,905,803,876,905,905,905,905,905,905,905,905,905
nm,815,815,720,785,815,815,815,815,815,815,815,815,815
bc,788,788,692,768,788,788,788,788,788,788,788,788,788
...,...,...,...,...,...,...,...,...,...,...,...,...,...
la,598,598,559,586,598,598,598,598,598,598,598,598,598
id,554,554,521,539,554,554,554,554,554,554,554,554,554
nh,535,535,486,529,535,535,535,535,535,535,535,535,535
mt,510,510,478,492,510,510,510,510,510,510,510,510,510
wv,486,486,449,476,486,486,486,486,486,486,486,486,486
ms,415,415,376,407,415,415,415,415,415,415,415,415,415
ne,405,405,381,396,405,405,404,405,405,405,405,405,405
ak,354,354,319,341,354,354,354,354,354,354,354,354,354
hi,353,353,262,344,353,353,353,353,353,353,353,353,353
ab,333,333,288,328,333,333,333,333,333,333,333,333,333
vt,307,307,260,301,307,307,307,307,307,307,307,307,307
ri,290,290,229,283,290,290,290,290,290,290,290,290,290
wy,205,205,175,198,205,205,205,205,205,205,205,205,205
sd,196,196,183,189,196,196,196,196,196,196,196,196,196
de,183,183,166,182,183,183,183,183,183,183,183,183,183
qc,178,178,124,176,178,178,178,178,178,178,178,178,178
mb,155,155,127,152,155,155,155,155,155,155,155,155,155
ns,143,143,103,142,143,143,143,143,143,143,143,143,143
nd,138,138,129,132,138,138,137,138,138,138,138,138,138
nb,116,116,86,115,116,116,116,116,116,116,116,116,116
dc,99,99,8,96,99,99,99,99,99,99,99,99,99
sk,98,98,79,96,98,98,98,98,98,98,98,98,98
pq,90,90,64,88,90,90,90,90,90,90,90,90,90
pr,33,33,25,31,33,33,33,33,33,33,33,33,33
sa,30,30,29,30,30,30,30,30,30,30,30,30,30
nf,25,25,15,25,25,25,25,25,25,25,25,25,25
nt,20,20,16,20,20,20,20,20,20,20,20,20,20
pe,17,17,10,17,17,17,17,17,17,17,17,17,17
yt,13,13,7,13,13,13,13,13,13,13,13,13,13
yk,7,7,2,6,7,7,7,7,7,7,7,7,7

In [6]:
#Entre los avistajes registrados en Washington, DC, las formas mas populares son luz, esfera y bola de fuego. 

avistajes_sin_null = avistajes.dropna(subset=['country']) 

avistajes_gb = avistajes_sin_null.loc[avistajes_sin_null.country.str.contains('gb'),:]

avistajes_gb_forma = avistajes_gb.groupby("shape").count()

avistajes_gb_forma.sort_values("datetime",ascending=False)

,datetime,city,state,country,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
shape,,,,,,,,,,
light,361,361,3,361,361,361,361,361,361,361
circle,243,243,4,243,243,243,243,243,243,243
triangle,169,169,2,169,169,169,169,169,169,169
sphere,158,158,1,158,158,158,158,158,158,158
other,133,133,0,133,133,133,133,133,133,133
fireball,117,117,1,117,117,117,117,117,117,117
disk,102,102,0,102,102,102,102,102,102,102
unknown,92,92,0,92,92,92,92,92,92,92
oval,86,86,0,86,86,86,86,86,86,86
formation,60,60,0,60,60,60,60,60,60,60
cigar,60,60,0,60,60,60,60,60,60,60
changing,46,46,0,46,46,46,46,46,46,46
diamond,43,43,0,43,43,43,43,43,43,43
teardrop,38,38,0,38,38,38,38,38,38,38
egg,32,32,0,32,32,32,32,32,32,32
cylinder,30,30,0,30,30,30,30,30,30,30
rectangle,29,29,0,29,29,29,29,29,29,29
flash,25,25,0,25,25,25,25,25,25,25
cone,13,13,0,13,13,13,13,13,13,13
cross,10,10,0,10,10,10,10,10,10,10
chevron,8,8,0,8,8,8,8,8,8,8

In [9]:
#Gran Bretaña tiene mas reportes de avistajes que Canadá 

avistajes_sin_null = avistajes.dropna(subset=['country']) 

avistajes_gb = avistajes_sin_null.loc[avistajes_sin_null.country.str.contains('gb'),:]

avistajes_gb.count()


avistajes_ca = avistajes_sin_null.loc[avistajes_sin_null.country.str.contains('ca'),:]

avistajes_ca.count()

datetime                3000
city                    3000
state                   2985
country                 3000
shape                   2955
duration (seconds)      3000
duration (hours/min)    3000
comments                3000
date posted             3000
latitude                3000
longitude               3000
dtype: int64

In [33]:
#El país con avistajes de mayor duración promedio es Gran Bretaña 

avistajes.columns = avistajes.columns.str.replace('\s+', '_').str.replace('(', '').str.replace(')', '')    

avistajes.duration_seconds = avistajes.duration_seconds.str.replae
#avistajes.head()
avistajes["duracion"] = pd.to_numeric(avistajes.duration_seconds)
avistajes.info()
#avistajes_sin_null = avistajes.dropna(subset=['duration_(seconds)']) 

#avistajes_sin_null.groupby("country")["duration_(seconds)"].mean()

ValueError: Unable to parse string "2`" at position 27822

In [14]:
#Vancouver esta en el top 20



avistajes.sort_values("duration (seconds)", ascending = False).head(20)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
29726,2/7/2001 18:35,wheaton/kensington,md,NaN,changing,995,16:35,SHAPE CHANGING OBJECT IN WASHINGTON DC AREA,2/18/2001,39.039831,-77.055256
32032,3/17/2004 16:30,milton,de,us,other,994,16:34,Boat/schooner shaped Hull curved rotating &#44...,4/27/2004,38.7775000,-75.310278
55524,7/1/2008 22:00,truro (canada),ns,ca,light,9900,1/2 hr to 45 mins,Glowing object in the sky over fireworks display.,8/12/2008,45.366667,-63.300000
53302,6/3/2000 22:00,manzanita,or,us,light,9900,1/2hr-45min,There were orange colored lights coming from t...,6/21/2000,45.7186111,-123.933889
9430,11/15/2000 20:00,kokomo (west of),in,us,flash,9900,1/2hour to 45min.,glittering white lights accompany bright orang...,9/6/2002,40.4863889,-86.133611
21529,12/31/2006 23:15,marikina (philippines),NaN,NaN,circle,9900,2 hrs &amp; 45 min.,Sighting over Quezon City Philippines during m...,2/1/2007,14.65073,121.102855
64160,8/10/1990 02:00,southbridge,ma,us,unknown,9900,45min-2 hours,Reoccuring visitations ? Senses altered. 500 L...,7/5/2008,42.0750000,-72.033889
38294,4/2/2003 16:30,sydney (nsw&#44 australia),NaN,au,rectangle,990,16:30,the object was in a rectangular form and was h...,4/27/2003,-33.861481,151.205475
54851,7/10/2011 22:45,new york city (brooklyn),ny,us,oval,99,1:39,Brooklyn UFO / VIDEO AND PHOTO / 7.10.11,5/13/2012,40.7141667,-74.006389
46707,6/11/1992 16:26,nowra (australia),NaN,au,disk,989,16:29,On one sunday afternoon an object was seen 2-3...,2/18/2001,-34.88422,150.600357
33292,3/24/2003 16:00,mt.morris,ny,NaN,oval,980,16:20,it was an oval shaped ship in the sky&#44 with...,4/22/2003,42.725618,-77.874169
559,10/1/1983 17:00,birmingham (uk/england),NaN,gb,sphere,97836000,31 years,Firstly&#44 I was stunned and stared at the ob...,4/12/2013,52.466667,-1.916667
23083,12/6/2013 16:15,laveen,az,us,fireball,978,16:18,Fire Orb By North Star In Phoenix,12/12/2013,33.3627778,-112.168611
16714,1/20/2004 06:55,lambertville,mi,us,changing,965,6:55 - 8:15,1 ufo was circular with multiple colors&#44 mo...,1/22/2004,41.7658333,-83.628056
56252,7/14/2002 20:03,modesto,ca,us,changing,960,16 minutes,rectangular light changed colors to half circl...,7/26/2002,37.6391667,-120.995833
48482,6/14/2008 23:00,elko,nv,us,light,960,16 minutes,2 large Red stationary lights &#44 time span ...,7/5/2008,40.8325000,-115.762222
34187,3/30/2006 19:15,lawley,al,us,egg,960,16 minutes,Unknown lights filmed descending into wooded area,10/30/2006,32.8594444,-86.951389
26227,2/13/2004 03:00,mumbai,NaN,NaN,other,960,1h 15m,for Info. &amp; Images http://vegaclub.com/U...,2/22/2005,19.075984,72.877656
48521,6/14/2011 21:15,pinole,ca,us,sphere,960,16 min,Silent sphere overhead becomes stationary in sky,6/20/2011,38.0044444,-122.297778
25765,2/11/2009 23:00,rancho cordova,ca,us,light,960,13-16 min.,Little army of star like lights pass over Sacr...,3/19/2009,38.5891667,-121.301667

In [16]:
#Agrupamos por paises

avistajes.groupby("country").count()

,datetime,city,state,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
country,,,,,,,,,,
au,538,538,10,527,538,538,538,538,538,538
ca,3000,3000,2985,2955,3000,3000,3000,3000,3000,3000
de,105,105,0,103,105,105,105,105,105,105
gb,1905,1905,12,1855,1905,1905,1905,1905,1905,1905
us,65114,65114,65114,63561,65114,65114,65101,65114,65114,65114

In [22]:
#Agrupamos por paises california forma

cal = avistajes.loc[avistajes.country == "us"]

cal = avistajes.loc[avistajes.state == "ca"]

a = cal.groupby("shape").count()

a.sort_values("city")

,datetime,city,state,country,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
shape,,,,,,,,,,
flare,1,1,1,1,1,1,1,1,1,1
round,1,1,1,1,1,1,1,1,1,1
cone,31,31,31,28,31,31,31,31,31,31
cross,32,32,32,31,32,32,32,32,32,32
teardrop,79,79,79,72,79,79,79,79,79,79
egg,95,95,95,86,95,95,95,95,95,95
cylinder,134,134,134,120,134,134,134,134,134,134
flash,154,154,154,142,154,154,154,154,154,154
diamond,155,155,155,135,155,155,155,155,155,155
chevron,158,158,158,150,158,158,158,158,158,158
rectangle,159,159,159,150,159,159,159,159,159,159
cigar,216,216,216,198,216,216,216,216,216,216
changing,290,290,290,267,290,290,290,290,290,290
formation,318,318,318,294,318,318,318,318,318,318
oval,420,420,420,388,420,420,420,420,420,420
unknown,603,603,603,564,603,603,603,603,603,603
sphere,674,674,674,617,674,674,673,674,674,674
other,675,675,675,616,675,675,675,675,675,675
disk,693,693,693,630,693,693,693,693,693,693
fireball,744,744,744,699,744,744,744,744,744,744
triangle,891,891,891,822,891,891,891,891,891,891
circle,899,899,899,844,899,899,899,899,899,899
light,1983,1983,1983,1829,1983,1983,1983,1983,1983,1983

In [ ]:
#GB